@import url("/src/themes/common/_font.scss");

/* MediumCereal */
.text-xxs-medium {
  font-family: "MediumCereal";
  font-size: 7px;
  line-height: 10px;
}

.text-xs-medium {
  font-family: "MediumCereal";
  font-size: 12px;
  line-height: 16px;
}

.text-sm-medium {
  font-family: "MediumCereal";
  font-size: 14px;
  line-height: 20px;
}

.text-base-medium {
  font-family: "MediumCereal";
  font-size: 16px;
  line-height: 24px;
}

.text-xl-medium {
  font-family: "MediumCereal";
  font-size: 20px;
  line-height: 28px;
}

.text-2xl-medium {
  font-family: "MediumCereal";
  font-size: 24px;
  line-height: 32px;
}

.text-3xl-medium {
  font-family: "MediumCereal";
  font-size: 30px;
  line-height: 36px;
}

.text-4xl-medium {
  font-family: "MediumCereal";
  font-size: 36px;
  line-height: 40px;
}

.text-5xl-medium {
  font-family: "MediumCereal";
  font-size: 48px;
  line-height: normal;
}

.text-6xl-medium {
  font-family: "MediumCereal";
  font-size: 60px;
  line-height: normal;
}

/* BlackCereal */
.text-xxs-black {
  font-family: "BlackCereal";
  font-size: 7px;
  line-height: 10px;
}

.text-xs-black {
  font-family: "BlackCereal";
  font-size: 12px;
  line-height: 16px;
}

.text-sm-black {
  font-family: "BlackCereal";
  font-size: 14px;
  line-height: 20px;
}

.text-base-black {
  font-family: "BlackCereal";
  font-size: 16px;
  line-height: 24px;
}

.text-xl-black {
  font-family: "BlackCereal";
  font-size: 20px;
  line-height: 28px;
}

.text-2xl-black {
  font-family: "BlackCereal";
  font-size: 24px;
  line-height: 32px;
}

.text-3xl-black {
  font-family: "BlackCereal";
  font-size: 30px;
  line-height: 36px;
}

.text-4xl-black {
  font-family: "BlackCereal";
  font-size: 36px;
  line-height: 40px;
}

.text-5xl-black {
  font-family: "BlackCereal";
  font-size: 48px;
  line-height: normal;
}

.text-6xl-black {
  font-family: "BlackCereal";
  font-size: 60px;
  line-height: normal;
}

/* BoldCereal */
.text-xxs-bold {
  font-family: "BoldCereal";
  font-size: 7px;
  line-height: 10px;
}

.text-xs-bold {
  font-family: "BoldCereal";
  font-size: 12px;
  line-height: 16px;
}

.text-sm-bold {
  font-family: "BoldCereal";
  font-size: 14px;
  line-height: 20px;
}

.text-base-bold {
  font-family: "BoldCereal";
  font-size: 16px;
  line-height: 24px;
}

.text-xl-bold {
  font-family: "BoldCereal";
  font-size: 20px;
  line-height: 28px;
}

.text-2xl-bold {
  font-family: "BoldCereal";
  font-size: 24px;
  line-height: 32px;
}

.text-3xl-bold {
  font-family: "BoldCereal";
  font-size: 30px;
  line-height: 36px;
}

.text-4xl-bold {
  font-family: "BoldCereal";
  font-size: 36px;
  line-height: 40px;
}

.text-5xl-bold {
  font-family: "BoldCereal";
  font-size: 48px;
  line-height: normal;
}

.text-6xl-bold {
  font-family: "BoldCereal";
  font-size: 60px;
  line-height: normal;
}

/* BookCereal */
.text-xxs-book {
  font-family: "BookCereal";
  font-size: 7px;
  line-height: 10px;
}

.text-xs-book {
  font-family: "BookCereal";
  font-size: 12px;
  line-height: 16px;
}

.text-sm-book {
  font-family: "BookCereal";
  font-size: 14px;
  line-height: 20px;
}

.text-base-book {
  font-family: "BookCereal";
  font-size: 16px;
  line-height: 24px;
}

.text-xl-book {
  font-family: "BookCereal";
  font-size: 20px;
  line-height: 28px;
}

.text-2xl-book {
  font-family: "BookCereal";
  font-size: 24px;
  line-height: 32px;
}

.text-3xl-book {
  font-family: "BookCereal";
  font-size: 30px;
  line-height: 36px;
}

.text-4xl-book {
  font-family: "BookCereal";
  font-size: 36px;
  line-height: 40px;
}

.text-5xl-book {
  font-family: "BookCereal";
  font-size: 48px;
  line-height: normal;
}

.text-6xl-book {
  font-family: "BookCereal";
  font-size: 60px;
  line-height: normal;
}

/* ExtraBoldCereal */
.text-xxs-extra-bold {
  font-family: "ExtraBoldCereal";
  font-size: 7px;
  line-height: 10px;
}

.text-xs-extra-bold {
  font-family: "ExtraBoldCereal";
  font-size: 12px;
  line-height: 16px;
}

.text-sm-extra-bold {
  font-family: "ExtraBoldCereal";
  font-size: 14px;
  line-height: 20px;
}

.text-base-extra-bold {
  font-family: "ExtraBoldCereal";
  font-size: 16px;
  line-height: 24px;
}

.text-xl-extra-bold {
  font-family: "ExtraBoldCereal";
  font-size: 20px;
  line-height: 28px;
}

.text-2xl-extra-bold {
  font-family: "ExtraBoldCereal";
  font-size: 24px;
  line-height: 32px;
}

.text-3xl-extra-bold {
  font-family: "ExtraBoldCereal";
  font-size: 30px;
  line-height: 36px;
}

.text-4xl-extra-bold {
  font-family: "ExtraBoldCereal";
  font-size: 36px;
  line-height: 40px;
}

.text-5xl-extra-bold {
  font-family: "ExtraBoldCereal";
  font-size: 48px;
  line-height: normal;
}

.text-6xl-extra-bold {
  font-family: "ExtraBoldCereal";
  font-size: 60px;
  line-height: normal;
}

/* LightCereal */
.text-xxs-light {
  font-family: "LightCereal";
  font-size: 7px;
  line-height: 10px;
}

.text-xs-light {
  font-family: "LightCereal";
  font-size: 12px;
  line-height: 16px;
}

.text-sm-light {
  font-family: "LightCereal";
  font-size: 14px;
  line-height: 20px;
}

.text-base-light {
  font-family: "LightCereal";
  font-size: 16px;
  line-height: 24px;
}

.text-xl-light {
  font-family: "LightCereal";
  font-size: 20px;
  line-height: 28px;
}

.text-2xl-light {
  font-family: "LightCereal";
  font-size: 24px;
  line-height: 32px;
}

.text-3xl-light {
  font-family: "LightCereal";
  font-size: 30px;
  line-height: 36px;
}

.text-4xl-light {
  font-family: "LightCereal";
  font-size: 36px;
  line-height: 40px;
}

.text-5xl-light {
  font-family: "LightCereal";
  font-size: 48px;
  line-height: normal;
}

.text-6xl-light {
  font-family: "LightCereal";
  font-size: 60px;
  line-height: normal;
}
