// **Madantory Designer Variables**
@import "./variables/general";

:root {
  --error-N50: #ffa1af;
  --error-N100: #ff7d91;
  --error-N200: #ff5e76;
  --error-N300: #d2596b;
  --error-N400: #c54d5f;
  --error-N500: #b83549;
  --error-N600: #af3043;
  --error-N700: #a71d31;
  --error-N800: #980b20;
  --error-N900: #880014;

  --warning-N50: #fffde5;
  --warning-N100: #faf7d7;
  --warning-N200: #fbf7c8;
  --warning-N300: #f9f3b6;
  --warning-N400: #fff7ac;
  --warning-N500: #fff48e;
  --warning-N600: #fcef7a;
  --warning-N700: #fff067;
  --warning-N800: #ffed4b;
  --warning-N900: #ffe600;

  --lemon-N50: #f3f3ce;
  --lemon-N100: #f7f7bb;
  --lemon-N200: #f4f49f;
  --lemon-N300: #e8e888;
  --lemon-N400: #f1f166;
  --lemon-N500: #fcfc62;
  --lemon-N600: #f4f446;
  --lemon-N700: #efef33;
  --lemon-N800: #ecec1c;
  --lemon-N900: #f0f000;

  --earie-black-N50: #e5e5e5;
  --earie-black-N100: #bfbfbf;
  --earie-black-N200: #a4a4a4;
  --earie-black-N300: #696969;
  --earie-black-N400: #595a59;
  --earie-black-N500: #3f4342;
  --earie-black-N600: #363a39;
  --earie-black-N700: #2b2f2e;
  --earie-black-N800: #212524;
  --earie-black-N900: #1c2321;

  --nude-rose-N50: #fbeff3;
  --nude-rose-N100: #fad7e1;
  --nude-rose-N200: #fab4c8;
  --nude-rose-N300: #f588a7;
  --nude-rose-N400: #ed7093;
  --nude-rose-N500: #d74f76;
  --nude-rose-N600: #d63b67;
  --nude-rose-N700: #e5295e;
  --nude-rose-N800: #de104a;
  --nude-rose-N900: #e70042;

  --rasberry-rose-N50: #ecb9cf;
  --rasberry-rose-N100: #e4a2bd;
  --rasberry-rose-N200: #d68eac;
  --rasberry-rose-N300: #c7618b;
  --rasberry-rose-N400: #ce4d83;
  --rasberry-rose-N500: #ca3a76;
  --rasberry-rose-N600: #d2296f;
  --rasberry-rose-N700: #cc2067;
  --rasberry-rose-N800: #c6105c;
  --rasberry-rose-N900: #ae0049;

  --thistle-N50: #f8f1ff;
  --thistle-N100: #decdf5;
  --thistle-N200: #cdb1f2;
  --thistle-N300: #b28be4;
  --thistle-N400: #9561da;
  --thistle-N500: #8140d5;
  --thistle-N600: #7620e7;
  --thistle-N700: #741ce6;
  --thistle-N800: #6e11e8;
  --thistle-N900: #6a00f5;

  --color-orange: #f37022;
  --color-transparent: #ffffff;
  --color-blue: #0066b1;
  --color-error: #d73535;
  --color-green: #0eb04b;

  --shade-N900: #151316;
  --shade-N800: #d5d5d7;
  --shade-N700: #dedee0;
  --shade-N600: #e8e7ea;
  --shade-N500: #eeedf0;
  --shade-N400: #f6f5f8;
  --shade-N300: #ffffff;

  --color-pending: #449cee;
  --color-deny: #151316;
  --color-pending: #449cee;
  --color-deny: #151316;
  --color-success: #13d1b8;
  --color-isbtn: #ebe173;
  --color-success: #13d1b8;
  --color-isbtn: #ebe173;
}
