.ant-layout .ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {
  @apply flex flex-col justify-center items-center rounded-full;
  background: #ffe0cd;
  width: fit-content;
  .ant-menu-item {
    @apply rounded-full m-0;
    width: 51px;
    height: 51px;
    & > span:first-child {
      transform: translateY(35%) translateX(15%);
      color: var(--shade-N300);
      font-size: 18px;
      & > svg {
        stroke: white;
        stroke-width: 10px;
      }
    }
  }
  .ant-menu-item-selected {
    @apply bg-gradient-to-b from-[#F9A26E] to-[#FF6001];
  }
}
