.alert-layout {
  position: absolute;
  inset: 60px 0 -200px 0;
  backdrop-filter: blur(10px);
  z-index: 10;
  display: none;

  &--open {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .alert-container {
    min-width: 400px;
    max-width: 600px;
    border-radius: 7px;
    padding: 15px;
    height: fit-content;
    display: flex;
    align-items: start;
    gap: 10px;
    position: absolute;
    top: 200px;
    &--success {
      background-color: var(--color-success);
    }
    &--error {
      background-color: var(--color-error);
    }
    .icon {
      font-size: 25px;
    }
  }
}
